@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'Lato';
    src: url("./assets/fonts/Lato/Lato-Italic.ttf");
    font-weight: 300;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100hv;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 12px;
    color: #595959;
    background-image: url("./assets/img/Cover.png");
}
a {
    outline: none;
    text-decoration: none;
    color: #595959;
}
a:hover {
    color: #242732;
}
.container {
    width: 535px;
    height: 842px;
    margin: 50px 400px;
    background-color: #FFFFFF;
}
.h1 {
    font-family: 'Lato';
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #242732;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
.h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #595959;
    margin: 0;
}
.header__container {
    display: grid;
    height: 100px;
    width: 100%;
    border: 1px dashed black;
}
.main {
    
}
.main__columns {
    display: flex;
    flex-direction: row;
}
.main__columns_left {
    width: 174px;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 30px

}
.main__columns_right {
    width: 301px;
    margin: 20px 30px;
    border: 1px dashed black;
}
.name__position {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.contacts__list {
    margin-left: 0;
    padding-left: 0;
}
.contacts__list_li {
    list-style-type: none;
    display: flex;
    gap: 5px;
    font-size: 12px;
}
.contacts__icon {
    padding-top: 2px;
    width: 12px;
}
